.advantages-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.advantages__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 255px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 490px;
    font-size: 21px;
  }
}

.advantages__text:nth-of-type(2) {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.advantages-list__item {
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }

  &::after {
    content: "";
    width: 320px;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
    position: absolute;
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--main {
    background-color: $main-color;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      color: white;
    }
  }

  &--main .advantages-list__title {
    font-size: 21px;
    line-height: 26px;
  }

  &--main:first-child .advantages-list__title {
    padding-top: 61px;
  }


  &--main:nth-child(2) .advantages-list__info {
    order: 2;
  }
}

.advantages-list__info {
  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 400px;
  }
}

.advantages-sublist {
  background-color: white;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.advantages-sublist__item {
  @media (min-width: $tablet-width) {
    width: 256px;
  }
}

.advantages-sublist__title,
.advantages-sublist__text {
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  width: 210px;

  @media (min-width: $tablet-width) {
    text-align: center;
    color: black;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages-sublist__text {
  font-size: 14px;
  line-height: 21px;
}

.advantages-list__title {
  width: 238px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages-list__number {
  display: block;
  text-align: center;
}

.advantages-list__text {
  line-height: 21px;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 265px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
