.advantages__header {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }
}

.advantages__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 255px;
  margin-left: auto;
  margin-right: auto;

  &:first-child {
    margin-bottom: 28px;
  }

  &:last-child {
    margin-bottom: 4px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 490px;
    font-size: 21px;
  }
}

.advantages__text:nth-of-type(2) {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
