.advantages-list {
  @include list;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.advantages-list__item {
  position: relative;
  background-color: #eeeeee;
  padding: 10px 15px;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 256px;
    padding: 24px 15px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    position: relative;
  }

  &::after {
    content: "";
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    background-color: #d6d6d6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child::after {
    display: none;
  }

  &:first-child::before {
    content: "";
    width: 320px;
    height: 37px;
    background-image: url("../img/bg-triangle.svg");
    position: absolute;
    top: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--main {
    background-color: $main-color;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      color: white;
    }

    & .advantages-list__title {
      color: white;

      @media (min-width: $tablet-width) {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }

      @media (min-width: $desktop-width) {
        width: 100%;
        padding-left: 93px;
        padding-right: 93px;
      }
    }

    & .advantages-list__number,
    & .advantages-list__text {
      color: white;
    }

    & .advantages-list__number {
      margin-bottom: 18px;

      @media (min-width: $tablet-width) {
        margin-bottom: 25px;
      }
    }

    & .advantages-list__text {
      padding: 0 30px;
      margin-bottom: 39px;

      @media (min-width: $desktop-width) {
        padding: 0;
        margin: 0;
      }
    }

    &:first-child .advantages-list__title {
      padding-top: 58px;
      margin-bottom: 11px;

      @media (min-width: $tablet-width) {
        padding-top: 24px;
      }

      @media (min-width: $desktop-width) {
        padding-top: 31px;
      }
    }

    &:nth-child(2) .advantages-list__info {
      padding-top: 21px;
      order: 2;

      @media (min-width: $desktop-width) {
        padding: 32px;
      }
    }

    &:nth-child(2) .advantages-list__title {
      margin-bottom: 12px;
    }

    &:nth-child(2) .advantages-list__text {
      padding: 0 45px;

      @media (min-width: $desktop-width) {
        width: 230px;
      }
    }
  }

  .advantages-list__info {
    @media (min-width: $tablet-width) {
      width: 256px;
      min-height: 256px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      width: 400px;
    }
  }

  .advantages-list__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      width: 50%;
      font-size: 21px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 40%;
    }
  }

  .advantages-list__number {
    display: block;
    text-align: center;
  }

  .advantages-list__text {
    padding: 0 20px;
    margin-top: 18px;
    line-height: 21px;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 0 33px;
      margin-top: 24px;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
      padding: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .advantages-list__img {
    display: block;
    background-color: $main-color;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 512px;
      height: 256px;
    }

    @media (min-width: $desktop-width) {
      width: 800px;
    }
  }
}
