.booking {
  padding: 30px 10px;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-bottom: 58px;
  }
}

.booking__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  width: auto;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }
}

.booking__text {
  line-height: 24px;
  text-align: center;
  width: 263px;
  margin: 0 auto;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 438px;
    margin-bottom: 42px;
  }
}

.booking__link {
  display: block;
  width: 280px;
  height: 58px;
  background-color: $main-color;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    width: 458px;

    &:hover {
      background-color: $hvr-btn;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $act-btn;
    }
  }
}
