.feedback {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  &--impression {
    @media (min-width: $tablet-width) {
      order: -1;
      width: 50%;
    }
  }

  &--introducing {
    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  &--contacts,
  &--showplaces,
  &--emotions {
    width: 100%;
  }
}

.feedback__inner {
  &--contacts {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & .feedback__wrapper {
      @media (min-width: $desktop-width) {
        width: 50%;
      }
    }
  }

  &--showplaces {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 150px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.feedback__wrapper {
  margin-bottom: 20px;

  &--introducing {
    display: flex;
    align-items: center;
  }
}

.feedback__legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.feedback__label {
  margin-right: 8px;
}

.feedback__input {
  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    padding: 18px;
    outline: none;
    border: solid 4px #e5e5e5;
    background-color: white;
  }

  &--text {
    flex-grow: 1;
    margin-left: auto;
  }

  &--tel,
  &--email {
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 258px;
    }
  }

  &--text,
  &--email,
  &--tel {
    border: none;
    background-color: #f2f2f2;
    height: 56px;
    padding: 22px;

    &::placeholder {
      font-weight: bold;
      font-size: 18px;
      line-height: 26;
      color: black;
    }
  }
}

.feedback__textarea {
  border: none;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 160px;
  padding: 22px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    padding: 18px;
    outline: none;
    border: solid 4px #e5e5e5;
    background-color: white;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: black;
  }
}

.feedback__btn {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  min-height: 58px;
  background-color: $main-color;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;

    &:hover {
      background-color: $hvr-btn;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $act-btn;
    }
  }
}

.feedback__span {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.feedback__subtext {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
