.feedback-block {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback-block__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: auto;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.feedback-block__text {
  line-height: 24px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;

  @media (min-width: $tablet-width) {
    padding-left: 140px;
    padding-right: 140px;
  }
}
