.main-nav {
  width: 100%;
  min-height: 56px;
  display: flex;
}

.main-nav__wrap {
  width: 100%;
}

.main-nav__toggle {
  width: 23px;
  height: 21px;
  background-color: $main-color;
  border: none;
  order: 1;
  margin-top: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
