.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 445px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-header__link {
  width: 102px;
  height: 83px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
