.page-footer {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-top: 12px;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: nowrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.page-footer__text {
  width: 100%;
  margin-bottom: 35px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 33%;
    text-align: left;
    margin-top: 30px;
  }
}

.page-footer__developer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 33.3%;
  }
}
