.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__text {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.social {
  display: flex;
  width: 100%;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $main-color;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

.developer__text {
  display: inline-block;
}
