.page-header {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 56px;
  position: relative;
}

.page-header__link {
  width: 102px;
  height: 83px;
  position: absolute;
  left: 50%;
  bottom: -27px;
  transform: translate(-50%, 0);
  z-index: 2;
}
