.photo {
  padding-top: 22px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 324px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    position: relative;
  }

  &--main {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.photo__link {
  display: block;
  margin-bottom: 16px;
}

.photo__title {
  margin: 0;
  margin-bottom: 4px;
}

.photo__text {
  text-transform: none;
  line-height: 24px;
  margin: 0;
  margin-bottom: 7px;
}

.photo--main .photo__img {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: auto;
  }
}

.photo__img {
  @media (min-width: $tablet-width) {
    width: 324px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: auto;
  }
}

.photo__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    height: 80px;
    color: white;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}

.photo__like-btn {
  border: none;
  width: 22px;
  height: 20px;
  margin-right: 11px;
  background-color: white;
  background-image: url("../img/icon-like.svg");
}
