.player {
  position: relative;
}

.player__img {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.player__control {
  width: 280px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  min-height: 63px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 648px;
    min-height: 93px;
    margin: 0;
    position: absolute;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.player__scroll {
  width: 280px;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  position: absolute;
  top: -48px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 389px;
    top: 25px;
    left: 93px;
  }
}

.player__bar {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 389px;
  }

  &::before {
    content: "";
    cursor: pointer;
    width: 11px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: -3px;
    left: 34px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: 112px;
    }
  }
}

.player__button {
  border: none;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;

  &--repeat {
    margin-left: 25px;

    @media (min-width: $tablet-width) {
      margin-left: 35px;
    }
  }

  &--subtitles {
    margin-left: auto;
  }

  &--fullscreen {
    margin-left: 31px;
    margin-right: 23px;

    @media (min-width: $tablet-width) {
      margin-right: 41px;
    }
  }
}

.player__icon {
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    fill: white;
  }
}
