.player {
  position: relative;
}

.player__img {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.player__control {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: -63px;
}

.player__scroll {
  width: 100%;
  height: 45px;
  background-color: black;
  opacity: 0.6;
  display: flex;
}

.player__bar {
  position: relative;
  width: 235px;
  height: 3px;
  background-color: white;
  opacity: 0.2;
  margin: auto;
}

.player__slider {
  cursor: pointer;
  width: 11px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -3px;
}

.player__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
  min-height: 66px;
}

.player__button {
  border: none;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;

  &--repeat {
    margin-left: 25px;
  }

  &--subtitles {
    margin-left: auto;
  }

  &--full-screen {
    margin-left: 23px;
    margin-right: 23px;
  }
}
