.popup-success {
  width: 320px;
  min-height: 323px;
  padding-top: 50px;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 10;
  position: fixed;
  top: 25%;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 640px;
    min-height: 347px;
    padding: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.popup-success--closed {
  display: none;
}

.popup-success--opened {
  display: flex;
}

.popup-success__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.popup-success__text {
  line-height: 24px;
  text-align: center;
  padding: 0 40px;
}

.popup-success__wrapper {
  width: 100%;
  padding: 20px;
  min-height: 98px;
  background-color: #f2f2f2;
  display: flex;
}

.popup-success__btn {
  width: 280px;
  height: 58px;
  border: none;
  background-color: $main-color;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;

  @media (min-width: $tablet-width) {
    &:hover {
      background-color: $hvr-btn;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $act-btn;
    }
  }
}
