.site-list {
  @include list;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
}

.site-list__item {
  text-align: center;

  &:nth-child(3) {
    margin-left: auto;
  }
}

.site-list__link {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding: 13px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  @media (min-width: $tablet-width) {
    color: black;
    font-size: 14px;
    line-height: 26px;
    border: none;
  }
}
