.site-list {
  @include list;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: inset 0 -3px 5px -2px rgba(0, 0, 0, 0.5);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
}

.site-list__item {
  text-align: center;

  &:nth-child(3) {
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    width: 20%;

    &--active .site-list__link {
      color: #766357;
    }

    &--active:hover .site-list__link {
      color: #604e43;
    }

    &--active:active .site-list__link {
      color: rgba(118, 99, 87, 0.3);
    }
  }
}

.site-list__link {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  padding: 7px;
  background-color: $main-color;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:hover {
    background-color: $hvr-btn;
  }

  &:active {
    background-color: $act-btn;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    background-color: white;
    color: black;
    font-size: 14px;
    line-height: 26px;
    border: none;
    padding: 15px;

    &:hover {
      color: $main-color;
      background-color: white;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: white;
    }
  }
}
