.social {
  @include list;
  display: flex;
  width: 100%;
}

.social__item {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: $main-color;
  position: relative;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }

  & svg {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover {
    background-color: $hvr-btn;
  }

  &:active {
    background-color: $act-btn;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon {
  fill: white;
}
