.social {
  display: flex;
  width: 100%;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $main-color;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}
