.video-block__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: auto;
}

.video-block__text {
  line-height: 24px;
  text-align: center;
  width: 239px;
  margin-left: auto;
  margin-right: auto;
}
