.video-block {
  padding-top: 33px;
  padding-bottom: 105px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.video-block__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: auto;
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video-block__text {
  line-height: 24px;
  text-align: center;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 415px;
  }
}
